<div style="text-align: center;">
  <img alt="" style="width:250px;" title="" class="img-circle img-thumbnail isTooltip"
    src='https://media-exp1.licdn.com/dms/image/C5103AQEtbk6AEDJffA/profile-displayphoto-shrink_400_400/0?e=1609977600&v=beta&t=Uh6F0vRrltxHYc3xmCm0QVkDaTXjbSTem2VROJrfTGY'
    data-original-title="Usuario">
  <h3>Deependra Chansoliya</h3>
  <hr>
  <nav>
    <a [routerLink]="['/users']" routerLinkActive="active">Users Api</a>
    <a [routerLink]="['/cat-fact']" routerLinkActive="active">Cat Facts Api</a>
  </nav>
</div>
<router-outlet>
</router-outlet>
